@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #10141e;
  font-family: "Outfit", serif;
  color: white;
}

.svg-white-filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(8%) hue-rotate(353deg) brightness(104%) contrast(104%);
}

.svg-hover-filter:hover {
  filter: brightness(0) saturate(100%) invert(37%) sepia(28%) saturate(3657%) hue-rotate(332deg) brightness(102%) contrast(97%);
}

.center {
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.center-login {
  right: 0;
  top: 20%;
  transform: translate(0%, -20%);
}

input:focus {
  outline: none;
}

.animated p {
  animation: animationFrames 2s infinite ease-in-out alternate;
}

@keyframes animationFrames {
  0% {
    background-color: #161D2F;
  }

  50% {
    background-color: #2E3759;
  }

  100% {
    background-color: #161D2F;
  }
}

.custom-scrollbar {
  scrollbar-width: none;
}

.gradient {
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 80%);
}